.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-perso {
    background: #9f00b1;
    padding: 10px 20px;
    font-size: 24px;
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.site-perso:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #9f00b1;
}

.gitUrls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.gitUrls a {
    background: #272727;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    align-items: center;
    padding: 10px;
}

.gitUrls a img {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border: solid 1px #fff;
}

.gitUrls a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #272727;
}

.proj-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.proj {
    transition: ease-in-out 0.3s;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 80px;
    overflow: hidden;
    border-radius: 15px;
}

.proj:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 5px #272727;
}

.proj img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.titre-desc {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
}