.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-perso {
    background: #9f00b1;
    padding: 10px 20px;
    font-size: 24px;
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.site-perso:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #9f00b1;
}

.proj {
    border: 1px solid #272727;
    transition: ease-in-out 0.3s;
}

.proj:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 5px #272727;
}